# requirements common to all environments
Django<1.10  # 2016-08-08, django_compressor doesn't work with 1.10
simplejson
mock
pytest
pytest-pep8
pytest-cov
pytest-django
tox
requests
-e git+https://github.com/UWIT-IAM/iam-resttools.git@v2#egg=resttools
