Django<1.8
-e git+https://github.com/UWIT-IAM/uw-django#egg=DjangoContrib
simplejson
urllib3
Django_UserService
-e git+https://github.com/UWIT-IAM/uw-restclients#egg=UW-RestClients
-e git+https://github.com/jeffFranklin/idbase.git#egg=idbase
