# global settings for Django demo app

# static content
Alias /static-{{app_url_base}}/ {{app_base}}/{{app_name}}/static-{{app_url_base}}/
<DirectoryMatch {{app_base}}/{{app_name}}/static-{{app_url_base}}/.*>
    {% if is_apache24|default(False) %}
    Require all granted
    {% else %}
    order allow,deny
    allow from all
    {% endif %}
</DirectoryMatch>


WSGIDaemonProcess {{app_name}}_group group=iam-dev python-path={{ app_base }}/{{app_name}}:{{ app_base }}/{{app_name}}/lib/python2.7/site-packages
WSGIScriptAlias /{{app_url_base}} {{app_base}}/{{app_name}}/{{app_name}}-site/wsgi.py
WSGIProcessGroup {{app_name}}_group

<Directory {{app_base}}/{{app_name}}/{{app_name}}-site>
<Files wsgi.py>
    {% if is_apache24|default(False) %}
    Require all granted
    {% else %}
    order allow,deny
    allow from all
    {% endif %}
</Files>
</Directory>


# error documents are in pdp/static/html/

ErrorDocument 403 /static-pdp/html/error_403.html
ErrorDocument 404 /static-pdp/html/error_404.html
ErrorDocument 500 /static-pdp/html/error_500.html

