# ---------------------------------------------------
# local pdp apache port 443 config
# ---------------------------------------------------
#

# browser authn
<LocationMatch /{{app_url_base}}/login>
  AuthType shibboleth
  ShibRequireSession On
  {% if is_apache24|default(False) %}
  require shibboleth
  Require shib-plugin /data/conf/apache.conf.d/pdp-access.xml
  {% else %}
  ShibRequireAll On
  AuthzShibAuthoritative On
  require shibboleth
  ShibAccessControl /data/conf/apache.conf.d/pdp-access.xml
  {% endif %}


  order allow,deny
  allow from all
</LocationMatch>

