# ---------------------------------------------------
# local pdp apache port 443 config
# ---------------------------------------------------
#

# Renamed id to profile, add temporary redirect
RewriteEngine on
RewriteRule ^id$ /{{app_url_base}}/ [R,L]
RewriteRule ^id/$ /{{app_url_base}}/ [R,L]

# browser authn
<LocationMatch /{{app_url_base}}/login>
  AuthType shibboleth
  ShibRequireSession On
  {% if is_apache24|default(False) %}
  require shibboleth
  {% else %}
  ShibRequireAll On
  AuthzShibAuthoritative On
  require shibboleth
  {% endif %}


  order allow,deny
  allow from all
</LocationMatch>

