{% extends 'base-pdp.html' %}

{% block content %}
    {% verbatim %}
    <div  class="container" ng-controller="ProfileCtrl as profile" ng-cloak>
    <!-- NEW PAGE-TITLE -->
		<div class="page-title">
           <h1>Profile information</h1>
        </div><!-- end new H1 -->


    <!-- html for overlay box -->
    <!--<div class="modal modal-transparent fade">-->
      <!--  FOR NOW <div class="row">
            <h1>Welcome to Identity.uw!</h1>
            <p>At Identity.uw you can:</p>
            <p>[TBD]</p>
            <ul>
                <li>Set your preferred name to replace your legal name on the UW Directory.</li>
                <li>Change your information sharing settings.</li>
                <li>Set your recovery settings.</li>
            </ul>
            <p><a href="">Let's get started!</a></p>
        </div> -->
    <!--</div>-->


     <div class="row">
       <div class="col-md-7">
           <h2>Profile Information</h2>
           <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label>Preferred Name</label><br>
                        <p ng-hide="profile.data.preferred_name"><a href="">Set your preferred name</a> to replace your legal name in <a href="">UW Directory</a></p>
                        <p ng-show="profile.data.preferred_name"><a href="">{{ profile.data.preferred_name }}</a></p>
                    </li>
                    <li class="list-group-item">
                        <label>Official Name // add (?)tooltip here</label> <br>
                        <p>{{ profile.data.official_name }}</p>
                    </li>
                    <li class="list-group-item">
                        <label>UW Email</label><br>
                        <p ng-repeat="email in profile.data.emails track by $index">{{ email }}</p>
                    </li>
                </ul>
            </div>
        </div>
      </div>

     <div class="row" ng-show="profile.data.student">
       <div class="col-md-7">
           <div class="panel panel-default">
               <div class="panel-heading">
                    <h3 class="panel-title">Student Information
                        <p>Source: <a href="">Student Personal Services</a></p>
                        <p><a href="https://www.washington.edu/students/reg/ferpa.html">Read FERPA</a> to learn about your privacy rights.</p>
                    </h3>
                </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Phone Number</label><br>
                    <p ng-repeat="phone in profile.data.student.phone_numbers track by $index">{{ phone }}</p>
                </li>
                <li class="list-group-item">
                    <label>Year, Major</label><br>
                    <p>{{ profile.data.student.clazz }}</p>
                    <p>{{ profile.data.student.major }}</p>
                </li>
            </ul>
        </div>
       </div>
     </div>

     <div class="row" ng-show="profile.data.employee">
       <div class="col-md-7">
           <div class="panel panel-default">
               <div class="panel-heading">
                    <h3 class="panel-title">Employee Information
                        <p>Source: <a href="">Employee Self-Service(ESS)</a></p>
                    </h3>
               </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Phone Number</label><br>
                    <p ng-repeat="phone in profile.data.employee.phone_numbers track by $index">{{ phone }}</p>
                </li>
                <li class="list-group-item" ng-show="profile.data.employee.official_name">
                    <label>Legal Name</label><br>
                    <p>{{ profile.data.employee.official_name }}</p>
                </li>
                <li class="list-group-item">
                    <label>UW Email</label><br>
                    <p ng-repeat="email in profile.data.employee.emails track by $index">{{ email }}</p>
                </li>
            </ul>
        </div>
       </div>
     </div>


     <!-- UCI-s1 view set PN -->
   <!-- FOR NOW: DON'T KNOW WHY THOSE ARE HERE  <div class="row">
       <div class="col-md-7">
           <h2>Information Sharing Settings</h2>
           <p>[TBD] Depending on the application, some or all information above will be released.</p>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">UW Directory</a><br>
                <p><a href="">The UW Directory</a> will show the following:</p></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Your current setting for Employee info: <button class="btn btn-default edit-directory" type="button">Edit</button></h3>
                    <p><a href="">Listed with email</a></p>
                    <p><b>Following employee information will be viewable by anyone:</b></p>
                    <p>Your legal name, UW NetID, UW email address, phone number, position, campus address.</p>
                </li>
                <li class="list-group-item">
                    <h3>Your current setting for Student info:</h3>
                    <p><a href="">[TBD] Yes to Release</a></p>
                    <p>You can change the setting on the <a href="">Student Personal Services Site</a>. Changes will take up to 1-2 business days to be effective.</p>
                    <p><b>Following student information will be viewable by the UW NetID owners:</b></p>
                    <p>Your phone number, year</p>
                </li>
            </ul>
            </div>
       </div>
     </div>  -->

     <!-- opt2: UC1 - s1. View - Set PN -->
      <div class="row">
       <div class="col-md-7">
           <h2>Information Sharing Settings</h2>
           <p>[TBD] Depending on the application, some or all information above will be released.</p>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">UW Directory</a><br>
                <p><a href="">The UW Directory</a> will show the following:</p></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                   
                    <p><b>Following employee information will be viewable by anyone:</b></p>
                    <ul>
                        <li>Timothy Robert Smith</li>
                        <li>UW NetID: tjohn1234</li>
                        <li>tsmith1234@uw.edu</li>
                        <li>(206) 123-2222</li>
                        <li>Teaching Assistant, Sociology</li>
                        <li>107 NE 45th St. #505 Seattle WA 98105</li>
                     </ul>
                    <p><button class="btn btn-default edit-directory" type="button">Change settings</button></p>
                </li>
                
                <li class="list-group-item">

                    <p><b>In addition to the employee info above, following student information will be viewable by the UW NetID owners:</b></p>
                    <ul>
                        <li>hipstergrad@yahoo.com</li>
                        <li>(425) 333-4444</li>
                        <li>Graduate, Sociology</li>
                     </ul>
                     <p><a href="">Change the Directory release settings on the Student Personal Services</a>. Changes will take up to 1-2 business days to be effective.</p>
                </li>
            </ul>
            </div>
       </div>
     </div>

        <!--<p>By clicking <a id="loginLink" href="/secure">this link!</a></p>-->
        <!--<h2>Test errors</h2>-->
        <!--<p ng-controller="MakeErrorCtrl as makeError">By clicking-->
            <!--<button id="badButton"-->
                    <!--type="button" class="btn btn-primary"-->
                    <!--ng-click="makeError.doIt()">this button!</button></p>-->

        <!--<p>Your session should time out in {{ session_timeout }} seconds.</p>-->
    </div>
    {% endverbatim %}
{% endblock %}

{% load static %}
{% block css %}
    {{ block.super }}
    <!-- account css -->
    <link rel="stylesheet" href="{% static "css/cascade.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/cascade.js" %}"></script>
{% endblock %}
