<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/vendor/css/bootstrap-3.3.2.min.css">

        <link rel="stylesheet" href="../static/vendor/css/bootstrap-theme-3.3.2.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/mini.css"/>
        <link rel="stylesheet" href="../static/css/body.css"/>

        <script src="../static/vendor/js/modernizr-2.6.2.min.js"></script>
        <script>
          function myFunction() {
            $( "p#savetext" ).fadeIn( "slow" );
          }
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Identity.UW</h1>
        <p>Define yourself at the UW</p>
      </div>
    </div>

    <div class="container">
      <!-- Begin legal name -->
      <div class="legalname">
        <h1>Legal Name</h1>
        <!-- The system should grab the legal name data from the db, and in the UI it is not editable to the user -->
        <h4>Show legal name here</h4>
      </div>
      <!-- End legal name -->

      <!-- Begin preferred name -->
      <div class="preferred name">
        <h1>Preferred Name</h1>
        <p><i>TBD.</i> You can set a preferred name to be used in the UW Directory. Something explanation here. Read more.</p>
      <!-- Example row of columns; Begin preferred name -->
        <div class="row">
          <div class="col-md-4">
            <h3>First Name</h3>
           <input type="text" onblur="myFunction()" />
          </div>
          <div class="col-md-4">
            <h3>Middle Name</h3>
           <input type="text" onblur="myFunction()" />
         </div>
          <div class="col-md-4">
            <h3>Last Name</h3>
           <input type="text" onblur="myFunction()" />
          </div>
        </div>
      </div>
      <!-- End preferred name -->
      
      <p></p>
      <p id="errormessage">If there is an error in the input, the message shows up here.</p>

      <hr>

      <!-- Begin policy -->
      <div class="policy">
        <h2>UW Preferred Name Policy</h2>
        <p><i>TBD.</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo quis lorem quis sollicitudin. Curabitur mattis eget lectus auctor auctor. Aenean consectetur quam quis dolor iaculis imperdiet. Suspendisse quis tortor id purus faucibus efficitur sed quis eros.</P>
        <div>
          <input type="checkbox">
          <label>&nbsp;I have read the policy and I agree</label>
        </div>
      </div>
      <!-- End policy -->

      <!-- Inline message goes here -->
      <p id="savetext">Your name has been saved --> This message shows up here after the "save" button is hit.</p>
      <!-- Two actionable buttons -->
      <button type="submit" id="save">Save</button>
      <button type="submit" id="reset">Reset</button>

      <footer>
        <p></p>
      </footer>
    </div> 
    <!-- /container -->        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/vendor/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="../static/vendor/js/bootstrap-3.3.2.min.js"></script>
    <script src="../static/js/main.js"></script>
    </body>
</html>
