{% extends "base.html" %}

{% block content %}

<div class="container">
Legal name
<br>
{{ pws_info.full_name }}
</div>


<div class="container">
  <h2><div>Preferred Name</h2>
  <p>You can set a preferred name ...</p>
  <form role="form">
    <div class="form-group">
      <label for="fname">Preferred first name</label>
      <input type="text" class="form-control" id="fname">
    </div>
    <div class="form-group">
      <label for="mname">Preferred middle name</label>
      <input type="text" class="form-control" id="mname">
    </div>
    <div class="form-group">
      <label for="lname">Preferred llast name</label>
      <input type="text" class="form-control" id="lname">
    </div>
  </form>
</div>

{% endblock %}


