{% extends "base.html" %}

{% block content %}

<div ng-app="pdpApp" class="container">

 <!-- tabs for pref name and pub pref -->
 <div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#prefname" aria-controls="prefname" role="tab" data-toggle="tab">Preferred name</a></li>
    <li role="presentation"><a href="#pubpref" aria-controls="pubpref" role="tab" data-toggle="tab">Publish pref</a></li>
  </ul>

 <div class="tab-content">

   <div role="tabpanel" class="tab-pane active" id="prefname">

     <div class="container">
       <!-- Begin legal name -->
       <div class="legalname">
	 <h1>Legal Name</h1>
	 <!-- The system should grab the legal name data from the db, and in the UI it is not editable to the user -->
	 <h4>{{ irws_name.formal_fname }} {{ irws_name.formal_lname }}</h4>
       </div>
       <!-- End legal name -->
       {% verbatim %}
       <div ng-controller="NameCtrl as name">
	 <form role="form" name="pnform" >
	   <!-- Begin preferred name -->
	   <div class="preferred name">
             <h1>Preferred Name</h1>
             <p><i>TBD.</i> You can set a preferred name to be used in
               the UW Directory. Something explanation here. Read
               more.</p>
	     <!-- Example row of columns; Begin preferred name -->
             <div class="row">
               <div class="col-md-4">
		 <h3>First Name</h3>
		 <input type="text" ng-model="name.pn.display_fname" />
               </div>
               <div class="col-md-4">
		 <h3>Middle Name</h3>
		 <input type="text" ng-model="name.pn.display_mname" />
               </div>
               <div class="col-md-4">
		 <h3>Last Name</h3>
		 <input type="text" ng-model="name.pn.display_lname" />
               </div>
             </div>
	   </div>
	   <!-- End preferred name -->

	   <p></p>
	   <span ng-show="name.invalidName() != null">
	     <p id="errormessage">{{name.invalidName().reason}}</p>
	   </span>

	   <hr>

	   <!-- Begin policy -->
	   <div class="policy">
             <h2>UW Preferred Name Policy</h2>
             <p><i>TBD.</i> Lorem ipsum dolor sit amet, consectetur
               adipiscing elit. Integer commodo quis lorem quis
               sollicitudin. Curabitur mattis eget lectus auctor
               auctor. Aenean consectetur quam quis dolor iaculis
               imperdiet. Suspendisse quis tortor id purus faucibus
               efficitur sed quis eros.</p>
             <div>
               <input type="checkbox" ng-model="name.doesPolicyAgree">
               <label>&nbsp;I have read the policy and I agree</label>
             </div>
	   </div>
	   <!-- End policy -->
	   
	   <!-- Inline message goes here -->
	   <p id="savetext" ng-hide="name.putStatus == null">{{name.putStatus}}</p>
	   <!-- Two actionable buttons -->
	   <button type="submit" id="save" ng-click="name.putPrefName()" 
		   ng-disabled="!name.isValidForm()">Save</button>
	   <button type="submit" id="reset" ng-click="name.resetForm()">Reset</button>
	 </form>


	 <footer>
           <p></p>
	 </footer>
       </div>

     </div>
   </div>

 <div role="tabpanel" class="tab-pane" id="pubpref">
   <tab heading="Pub pref" active="false" disabled="">
     <!-- <h2><div>Publish preference</h2> -->
     <p>You can set publishing...</p>
     <div ng-controller="PubCtrl">
       <form role="form">
	 <div class="form-group">
	   <label for="wppublish">Publish in UW Directory?</label>
	   <br/>
	   <input type="radio" id="wppubyes" name="wppub" value="yes" ng-model="wp_publish"> <label for="wppubyes">Yes</label>
	   <br/>
	   <input type="radio" id="wppubno" name="wppub" value="no" ng-model="wp_publish"> <label for="wppubno">No</label>
	 </div>
       </form>
       <a class="btn btn-primary" ng-click="putPubPref()">
	 Save
       </a>
       <span ng-hide="putPubStatus == null">{{putPubStatus}}</span>
     </div>

 </div>
 </div>
 </div>

</div>
{% endverbatim %}
{% endblock %}


