{% extends "base.html" %}

{% block content %}

<div ng-app="pdpApp" class="container">

 <!-- tabs for pref name and pub pref -->
 <div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#prefname" aria-controls="prefname" role="tab" data-toggle="tab">Preferred name</a></li>
    <li role="presentation"><a href="#pubpref" aria-controls="pubpref" role="tab" data-toggle="tab">Publish pref</a></li>
  </ul>

 <div class="tab-content">

 <div role="tabpanel" class="tab-pane active" id="prefname">
 
<!--  <h2>Preferred Name</h2> -->

<div class="container">
Your legal name
<br>
{{ irws_name.formal_fname }} {{ irws_name.formal_lname }}
</div>
{% verbatim %}
<div ng-controller="NameCtrl">
<div class="container">
Your name in the directory 
<br>
{{wp.fname}} {{wp.mname}} {{wp.lname}}
</div>
  <form role="form" name="pnform" >
      <div class="row">
        <div class="col-md-4">
          <h2>First Name</h2>
         <input type="text" ng-model="pn.display_fname" />
        </div>
        <div class="col-md-4">
          <h2>Middle Name</h2>
         <input type="text" ng-model="pn.display_mname" />
       </div>
        <div class="col-md-4">
          <h2>Last Name</h2>
         <input type="text" ng-model="pn.display_lname" />
        </div>
	<!--
    <div class="form-group">
      <label for="fname">Preferred first name</label>
      <input type="text" name="pnfname" class="form-control" ng-model="pn.display_fname"
            ng-pattern="valid_chars" ng-maxlength="255" value="" required="required" />
      <span style="color:red" ng-show="pnform.pnfname.$invalid">
        <span ng-show="pnform.pnfname.$error.required">First name is required.</span>
        <span ng-show="pnform.pnfname.$error.pattern">Name must consist of letters, numbers, symbols or space.</span>
      </span>
    </div>
    <div class="form-group">
      <label for="mname">Preferred middle name</label>
      <input type="text" name="pnmname" class="form-control" ng-model="pn.display_mname"
             ng-pattern="valid_chars" ng-maxlength="255" value="" />
      <span style="color:red" ng-show="pnform.pnmname.$invalid">
        <span ng-show="pnform.pnmname.$error.pattern">Name must consist of letters, numbers, symbols or space.</span>
      </span>
    </div>
    <div class="form-group">
      <label for="lname">Preferred last name</label>
      <input type="text" name="pnlname" class="form-control" ng-model="pn.display_lname"
            ng-pattern="valid_chars" ng-maxlength="255" value="" required="required" />
      <span style="color:red" ng-show="pnform.pnlname.$invalid">
        <span ng-show="pnform.pnlname.$error.required">Last name is required.</span>
        <span ng-show="pnform.pnlname.$error.pattern">Name must consist of letters, numbers, symbols or space.</span>
      </span>
    </div>-->
  </form>
  <p>Your name will show up in the directory as 
    {{pn.display_fname}} {{pn.display_mname}} {{pn.display_lname}}
  </p>
  <a class="btn btn-primary" ng-click="putPrefName()" ng-disabled="pnform.$invalid">
    Save
  </a>
  <span ng-hide="putStatus == null">{{putStatus}}</span>
  </div>

 </div>

 <div role="tabpanel" class="tab-pane" id="pubpref">
 <tab heading="Pub pref" active="false" disabled="">
  <!-- <h2><div>Publish preference</h2> -->
  <p>You can set publishing...</p>
  <div ng-controller="PubCtrl">
  <form role="form">
    <div class="form-group">
      <label for="wppublish">Publish in UW Directory?</label>
      <br/>
      <input type="radio" id="wppubyes" name="wppub" value="yes" ng-model="wp_publish"> <label for="wppubyes">Yes</label>
      <br/>
      <input type="radio" id="wppubno" name="wppub" value="no" ng-model="wp_publish"> <label for="wppubno">No</label>
    </div>
  </form>
  <a class="btn btn-primary" ng-click="putPubPref()">
    Save
  </a>
  <span ng-hide="putPubStatus == null">{{putPubStatus}}</span>
  </div>

</div>
</div>
</div>

</div>
{% endverbatim %}
{% endblock %}


