{% verbatim %}
<div ng-show="!profile.isSettingName">
    <button ng-show="profile.data.preferred_name" type="button" id="edit-pn-btn" class="btn btn-default btn-xs" ng-click="profile.showNameChange()">Edit</button>
    <p ng-show="!profile.data.preferred_name">Set your preferred name to replace your legal name in <a href="https://www.washington.edu/home/peopledir/">the UW Directory.</a><br>
    <p><button id="set-pn-btn"class="btn btn-primary btn-xs" type="button" ng-click="profile.showNameChange()">Set preferred name</button></p>
</p>
    <p class="userinfo" ng-show="profile.data.preferred_name">{{ profile.data.preferred_name }}</p>
    <div ng-show="profile.nameChangeSuccess" class="alert alert-success">
        <a href="" class="close" ng-click="profile.nameChangeSuccess = false" aria-label="close">&times;</a>
        Preferred name is set and will be displayed in <a href="https://www.washington.edu/home/peopledir/">the UW Directory</a> immediately.
    </div>
</div>

<div ng-show="profile.isSettingName" ng-controller="NameCtrl as name"
        ng-model-options="{ allowInvalid: true }">
    <h2 class="page-title">Set Preferred Name</h2>
    <p>You can set a preferred name to be used in place of your
        legal name wherever possible. If you are listed in the
        <a href="http://www.washington.edu/home/peopledir/" target="_blank">UW directory</a>,
        your preferred name will be visible there immediately. There is a limit of
        80 characters for all three names.</p>

    <form role="form" name="name.form">
        <div id="fieldset_wrapper">
            <fieldset ng-disabled="name.getStatus >= 400">
                <div class="row">
                    <div class="col-md-4 namefield">
                        <label for="pnfname">First Name</label>
                        <input type="text" name="pnfname" ng-model="name.pn.display_fname"
                               ng-pattern="name.valid_chars"
                               ng-change="name.updateDisplayName()"
                               maxlength="{{ name.getFieldMaxLength(name.pn.display_fname) }}"
                               required="required"/>

                        <p id="errormessage"
                           ng-show="name.form.pnfname.$dirty && name.form.pnfname.$error.required">First name is
                            required.</p>
                    </div>
                    <div class="col-md-4 namefield">
                        <label for="pnmname">Middle Name</label>
                        <input type="text" name="pnmname" ng-model="name.pn.display_mname"
                               ng-pattern="name.valid_chars"
                               ng-change="name.updateDisplayName()"
                               maxlength="{{ name.getFieldMaxLength(name.pn.display_mname) }}"/>
                    </div>
                    <div class="col-md-4 namefield">
                        <label for="pnlname">Last Name</label>
                        <input type="text" name="pnlname" ng-model="name.pn.display_lname"
                               ng-change="name.updateDisplayName()"
                               ng-pattern="name.valid_chars"
                               maxlength="{{ name.getFieldMaxLength(name.pn.display_lname) }}"
                               required="required"/>

                        <p id="errormessage"
                           ng-show="name.form.pnlname.$dirty && name.form.pnlname.$error.required">Last name is
                            required.</p>
                    </div>
                </div>
                <p id="errormessage" ng-show="name.form.$dirty && name.form.$error.pattern">The following characters are
                    not allowed: {{ name.displayName | invalid_chars : name.valid_chars }}</p>
            </fieldset>
            <input type="hidden" name="pndn" ng-model="name.displayName" maxlength="{{ name.displayNameMax }}"/>
                                       <!-- Counter for character -->
            <div ng-repeat="field in [['display_fname', 'First'],['display_mname', 'Middle'],['display_lname', 'Last']]"
                 id="char-counter" class="alert alert-{{ name.fieldMax - name.pn[field[0]].length > 10 ? 'info' : 'warning' }}">
                <p><b>{{ name.fieldMax - name.pn[field[0]].length }} character{{ name.fieldMax - name.pn[field[0]].length == 1 ? '' : 's' }} remaining</b> for {{ field[1] }} Name</p>
            </div>
            <div id="char-counter" class="alert alert-{{ name.displayCharsRemaining > 10 ? 'info'
                    : name.displayCharsRemaining >= 0 ? 'warning' : 'danger'}}">
                <p><b>{{ name.displayCharsRemaining >= 0 ? name.displayCharsRemaining : 0 }} character{{ name.displayCharsRemaining  == 1 ? '' : 's'}}
                    remaining</b> for Preferred Name</p>
            </div>
        </div>

        <div class="policy">
            <h3>Terms & Conditions</h3>
            <p>When you save your preferred name, you agree that:</p>
            <ul>
                <li>You have not set a preferred name with an intent to impersonate someone else, to deceive, or
                    to defraud;
                </li>
                <li>You understand that hate speech, inappropriate language, or repeated frequent use of this
                    feature may bar you from using this feature, at the University's discretion;
                </li>
                <li>You give permission for your preferred name to be used in any UW system.
                </li>
            </ul>
        </div>
        <div class="save-message">
            <p ng-show="name.putStatus == 'error'" class="save-failure alert alert-danger" role="alert">
                Error trying to save name.
            </p>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="name.profilePutName(profile.onNameChange)"
                ng-disabled="name.form.$invalid || name.form.$pristine"
                >Agree & Save Name
        </button>
        <button class="btn btn-default add-space-left" ng-click="profile.clearNameChange()">
            Cancel
        </button>
    </form>
</div>
{% endverbatim %}