{% verbatim %}
<div>
    <button class="btn btn-default btn-xs" type="button">Change settings</button>
</div>
<br>
    <div>
        <label class="radio-inline"><input type="radio" name="optradio">Unlisted:</label>
            <p>You are not searchable in the UW directory. Nobody can find your contact information.</p>
        <label class="radio-inline"><input type="radio" name="optradio">Listed with email address:</label>
            <p>This listing will display the following:</p>
            <ul>
                <li>Tina Johnson</li>
                <li>UW NetID: tjohn1234</li>
                <li>tjohnson1234@uw.edu</li>
                <li>(206)123-2222</li>
                <li>Teaching Assistant, Sociology</li>
                <li>107 NE 45th St. #505 Seattle, WA 98105</li>
            </ul>
            <br>
        <label class="radio-inline"><input type="radio" name="optradio">Listed without email address:</label>
            <p>This listing option will display the following:</p>
            <ul>
                <li>Tina Johnson</li>
                <li>UW NetID: tjohn1234</li>
                <li>(206)123-2222</li>
                <li>Teaching Assistant, Sociology</li>
                <li>107 NE 45th St. #505 Seattle, WA 98105</li>
            </ul>
    </div>
    <br>
    <button class="btn btn-default btn-xs" type="button">Save Changes</button>
</div>
{% endverbatim %}