/* ++++++++++++++++ TO BE DELETED  ++++++++++++++++ */

/* temporary fake-data */
.fake-data { 
color:red;
}	

/* ++++++++++++++++ GLOBAL ELEMENTS ++++++++++++++++ */

/* center me */
.center { 
margin:auto;
width: 50%;
}	

/* Inline help icon style */
.icon-look {
	color: #aaa;
	padding-left: 5px;
	padding: 5px;
}

.profile-h2 {
	font-size: 24px; 
}

.profile-h3 {
	font-size: 20px; 
	margin-top: 5px;
	margin-bottom: 10px;
}

.profile-label {
	font-weight: 400;
	font-family: "Encode Sans Compressed", sans-serif;
    line-height: 1.3;
}

/* Data source bylin style */
.data-source{
	display: inline-block;
    font-size: 12px;
    float: right;
    margin-top: -30px;
    margin-left: 200px;
}

/* Tweak buttons style */

#edit-pn-btn {
    float: right;
}

.add-space-left{
	margin-left: 15px;
}


/* overlay box css */
.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

.request-submitted {
    color: #ff0000;

}

.edit-directory {
    margin-left: 50px;
}


.bold-text {
    font-weight: bold;
}

.modal-content {
    width: 500px;
    height: 320px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -225px;
    padding: 20px;
}

#modal-exit.close {
    font-size: 40px;
}

#pn-alert.close {
    font-size: 10px;
    float: left;
    margin-bottom: 10px;
}
.welcome{
	margin-top: 0px;
}
/* .modal-body h1 {
    padding-top: 20px;
} 

.btn-start {
    margin-top: 30px;
    background-color: #fff;
    color: #000;
    border-color: none;
}

.employee-btn {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    border-color: none;
}*/




