

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* headers */ 
/* customize font-size */
h2 { 
  font-size: 20px; 
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 150%;
}

.jumbotron {
  background-color: #4b2e83;
  border-color: #402770;
  height: 150px;
  padding: 0px 10px;
}


/* customize header & tagline */
.jumbotron h1, .jumbotron p {
  color: #fff;
  font-size: 30px;

}

/* tagline */
.jumbotron p {
  color:#ccc;
  font-size: 20px;
}

.row input {
	width:100%;
}

#savetext {
	display:none;
	color: green;
}

/* Styling the error message */
#errormessage {
	color:red;
  font-size: 14px;
}

/* Aligning the checkbox with the text */
.policy label {
	display:inline-block;
}

/* Styling the save button */
#save {
	float: left;
	width: 125px;
	margin: 20px 0px;
}

/* 
	When less than 768px, set the button to the full width of the screen
*/
@media (max-width: 768px) {
  #save {
  	width: 100%;
  }
}
