

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* headers */ 
/* customize font-size */
h2 { 
  font-size: 20px; 
  margin-top: 15px;
  margin-bottom: 5px; 
}

h3 {
  font-size: 16px;
}

p, ul li {
  font-size: 14px;
  line-height: 150%;
}


.jumbotron {
  background-color: #4b2e83;
  height: 150px;
  padding: 0px 10px;
  margin-bottom: 0px; 
  
}


/* customize header & tagline */
.jumbotron h1, .jumbotron p {
  color: #fff;
  font-size: 30px;

}

/* tagline */
.jumbotron p {
  color:#ccc;
  font-size: 20px;
}

/* styling the character counter */
#char-counter {
  background-color: #d9d9d9;
  border-color: #ccc;
  opacity: 0.65;
  border-radius: 2px;
}

.row input {
	width:100%;
}

/* style text input fields */

.preferred-name fieldset { 
    border: 1px solid #c0c0c0; 
    padding: 10px; 
    margin: 0px 15px 20px;     
}

.preferred-name fieldset legend { 
    border-bottom: 1px solid #c0c0c0; 
    margin-left: -10px; 
    font-size: 16px; 
}

div.namefield { margin-bottom: 15px; }
div.namefield label { margin-bottom: 0px; }

input[type="text"] {
  font-size: 16px;
}


#savetext {
	display:none;
	color: green;
}

/* Styling the error message */
#errormessage {
  color: #c61029;
  font-size: 14px;
}

/* Styling the save button */
#save {
	float: left;
  width: 200px;
  margin-top: -30px;
  margin-bottom: 20px;
}

/* area showing save-messages */
.save-message {
  padding: 20px 0px;
}

.save-message .save-success {
  height: 44px;
  text-align: center;
  padding: 5px 0px;
}

/* footer */
#footer p{
  margin-left: 30px;
}


/* 
	When less than 768px, set the button to the full width of the screen
*/
@media (max-width: 768px) {
  #save {
  	width: 100%;
  }
}
